.post-preview {
    font-size: 0.875em;
    border-bottom: 1px solid black;

    margin: 0 0 20px;
    padding: 0 0 16px;



    & > .post-title {
        padding: 0 0 12px 4px;
        justify-content: space-between;

        & h2 {
            cursor: pointer;
        }

        & .img-container {
            width: 42px;
            height: 42px;
            border-radius: 50px;
            background-color: red;
            margin-right: 12px;
        }

        & h3 {
            margin: 0;
            font-size: 12px;
        }

        & .post-by {

            & .dot {
                margin: 4px;
            }
        }
    }

    & .icon-container {
        justify-content: space-between;
        margin: 4px 0;

        & .svg-container {
            padding: 8px;

            & svg {
                cursor: pointer;
            }
        }
    }

    & .likes {
        margin-bottom: 8px;
    }



    & .latest-comment {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 0.5em;

        & h2 {
            cursor: pointer;
        }


    }

    & .title {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 0.5em;
    }

    & .view-all {
        color: $gray2;
        margin-top: 0.5em;
        cursor: pointer;
    }



}