.comment-preview {

    display: flex;
    padding: 0.5em 0;
    margin: 12px;

    & .comment {
        display: flex;
        flex-direction: column;
        gap: 0.4em;

        & .content {
            display: block;

            & .username {
                margin-right: 0.5em;
            }
        }

        & .details {
            display: flex;

            & div {
                color: $gray1;
                cursor: pointer;
                font-size: 13px;
                margin-right: 12px;
            }
        }
    }


}