.follow-btn {
    cursor: pointer;
    background-color: $cyan2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    gap: 0.5em;

    & h2 {
        color: white;
    }

    &:hover:not(.disabled) {
        background-color: $cyan3;
    }

    &.following {
        background-color: $gray2;

        & h2 {
            // color: black;
        }

        &:hover:not(.disabled) {
            background-color: $gray1;
        }
    }

    &.disabled{
        cursor:not-allowed;
        opacity: 0.7;

    }

    & .loader-container {
        width: 30px; /* Adjust to your desired width */
        height: 20px; /* Adjust to your desired height */
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        & .follow-loader {
            width: 80px;
            height: auto;
            /* Ensure it maintains aspect ratio */
            object-fit: cover;
            /* Crop the sides */
        }
    }


}