.loader-container-index {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: var(--post-list-layout);

    & img {
        grid-column: 2/3;
    }
}


.loader{
position: absolute;
}