.login-signup {
    grid-column: 2;
    width: 100%;
    max-width: 350px;
    height: max-content;
    // min-height: 600px;
    background-color: white;
    border: 1px solid $gray3;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
    border-radius: 20px;

    & .back-btn {
        display: none;
        position: fixed;
        top: 0;
    }


    & img {
        width: 200px;
        margin-block: 36px;
    }

    & .login-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: max-content;

        & input {
            width: 80%;
            padding-block: 10px;
            padding-left: 1em;
            font-size: 1em;
            border: solid 1px $gray1;

            &:focus {
                outline: solid 1px $gray2;
            }

            &.denied {
                border: solid 1px red;

                &:focus {
                    outline: solid 1px red;
                }
            }

            &.approved {
                border: solid 1px green;

                &:focus {
                    outline: solid 1px green;
                }
            }



        }

        & .feedback {
            font-size: 0.7em;
            margin-bottom: 1.5em;
            height: 1.4em;
            max-width: 350px;
            width: 80%;



        }

        & .upload-profile {
            max-width: 200px;
            width: 100%;
            padding-inline: 20px;
            margin-top: 10px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .text {
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                @include cyan-btn-1;
                cursor: pointer;
            }

            & .image-container {
                & img {
                    background-color: white;
                    margin-left: 15px;
                    margin-block: 10px;
                    border-radius: 50%;
                    // padding: 5px;
                }
            }
        }
    }

    & .login-btn-container {
        padding-block: 30px;
        margin-top: 30px;
        border-top: 1px solid $gray3;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        & .guest {
            display: flex;
            align-items: center;
            justify-content: center;

            & input {
                padding: 0;
                margin: 0 0 0 0.5em
            }
        }

        & .btn-1 {
            @include pink-btn-1;
        }

        & .btn-2 {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            & h1 {
                font-size: 1em;
                font-style: bold;
                color: blue;
            }
        }
    }
}

.login-signup.extended {
    max-width: 1000px;
    width: 100%;
    min-height: 600px;
    height: 100%;
}

// save for future animation
element.style {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 434.5px;
    scale: 3;
    z-index: 120000;
    margin: 15px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}