.popup {
    position: fixed;
    top: var(--popup-top);
    bottom:var(--popup-bottom) ;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    border-bottom: solid 1px $gray3;
    background-color: white;
    z-index: 100;
    transition: transform 0.3s ease;

    &.open {
        transform: translateY(var(--pop-up-modal-height));
    }

    & .content {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    & .bar-container {
        width: 100%;
        height: 3px;
        // border-top: solid $gray3 1px;
        position: absolute;
        bottom: var(--bar-placement);

        & .bar {
            background-color: $pink1;
            height: 100%;

            &.filling {
                animation: fillBar 3.3s linear
            }

          
        }

    }
}

@keyframes fillBar {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.bar.open{
    animation: fillBar 3.6s linear
}

:root {   
    --bar-placement : 0;
    --pop-up-modal-height: 70px;
    --popup-top: -70px;
    --popup-bottom: none;

     @media (width < 780px) {
      --pop-up-modal-height: -115px;
      --bar-placement : none;
      --popup-top: none;
      --popup-bottom: -70px;
     }
 }