.search-input-container {
    display: flex;
    background-color: $gray4;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 10px;
    margin-right: 0.5em;

    & .clear-search {
        display: none;
        padding-right: 1em;
    }

    & .search-icon {
        width: 20px;
        // filter: grayscale(100%);
        margin-inline: 0.5em;
    }

    & input {
        height: 30px;
        width: 236px;
        background-color: $gray4;
        border: none;

        &:focus {
            outline: none;

            +.clear-search {
                display: block;
            }

        }
    }

}