.side-header {
    width: 15.3em;
    height: 100vh;
    border-right: solid $gray3 1px;
    position: fixed;
    z-index: 100;

    & .content {
        height: 0;

        & .options {
            display: flex;
            flex-direction: column;
        }

        & .logo {
            display: flex;
            margin-bottom: 19px;
            padding: 25px 12px 16px;
        }

        & .small-logo {
            display: none;
            margin-bottom: 19px;
            padding: 25px 12px 16px;
        }

        & .icon {
            width: 1.5em;
        }


        &> :not(:first-child) {
            margin: 8px 12px 20px;

            & div {


                @include headerBtns;
                display: flex;
                padding: 12px;
                width: 100%;
            }

        }



    }
}