.upload-profile-img {
    height: 100%;
    width: 100%;

    .croppie-cmp {
        width: 100%;
        height: 100%;

        & .header{
            height: 50px;
            border-bottom: solid 1px $gray3;
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;

            & .select {
                position: absolute;
                color: $cyan2;
                font-size: 16px;
                cursor: pointer;
           
                right: 17px;

                &:hover {
                    color: $cyan3;
                }

                &.disabled {
                    cursor: default;
                    color: $gray2;


                }
            }

        }

        .options {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 50px;
         

      
        }

        #croppie {
            width: 100%;
            height: 100%;
        }

        .cr-boundary {
            background-color: gray;
            overflow: hidden;
        }

        .cr-vp-circle {
            opacity: 1;
        }
    }
}