* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: openSans
}

h1,
h2,
p {
    margin: 0;
    display: inline;
}

h2 {
    font-size: 14px;

}

h3 {
    font-size: 13px;
}

h4 {
    font-size: 12px;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: unset;
}

span{
    font-size: 14px;
}
