.main-layout {
    display: grid;
    grid-template-columns: var(--post-list-layout);
}

.main-layout>* {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1/-1;
}

.main-layout .third-section-layout {
    grid-column: 3; /* Ensure it spans the third column */
}

.profile-page-layout {
    display: grid;
    grid-template-columns: var(--profile-layout);
}

.profile-page-layout>* {
    grid-column: var(--profile-grid-placement);
}

.profile-info-layout {
    grid-template-columns: var(--profile-info-layout-layout);

    & .profile-container {
        grid-column: 1;
    }
}

.profile-post-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.login-signup-layout{
    display: grid;
    grid-template-columns: var(--login-sign-up-layout);
    height: 100%;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;

 
}

