.information {
    display: grid;
    // background-color: red;
    height: var(--profile-info-height);

    margin-top: var(--profile-margin-top);
    border-bottom: 1px solid $gray3;

    & .profile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;






        & .placeholder {
            width: var(--profile-container-size);
            height: var(--profile-container-size);
            border-radius: 50%;
            background-color: red;
        }

        & .owner-name {
            height: 0;
        }


    }

    & .actions-and-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-block: 20px;

        & .actions {
            display: flex;
            justify-content: space-between;

            & .username {
                font-size: 20px;
            }

            & button {
                margin-right: 20px;
            }

        }

        & .metrics {

            display: var(--profile-normal-metrics-display);
            gap: 40px;

            >h2 {
                cursor: pointer;
            }

        }


    }


}

.compact-metrics {
    display: var(--profile-compact-metrics-display);
    justify-content: space-around;
    // border-bottom: 1px solid $gray3;


    >section {
        cursor: pointer;
        margin-block: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.posts {
    .post-img-container {
        aspect-ratio: 1/1;
        background-color: red;
        overflow: hidden;
        position: relative;

        &:hover .back-drop {
            background-color: rgba(0, 0, 0, 0.3);
        }

        &:hover .details {
            display: flex;
        }

        & .back-drop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.1s ease;
            z-index: 1;
            cursor: pointer;


        }



        & .post-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & .details {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            gap: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;


            & img {
                filter: invert(1);
                width: 25%;
                height: 25%;
            }

            & .count {
                color: white;
                width: 25%;
                height: 25%;
            }

        }
    }
}

.profile-post-layout {
    gap: 3px;
    margin-block: 10px;

}

:root {
    --profile-margin-top: 10px;
    --profile-container-size: 130px;
    --profile-info-height: 250px;
    --profile-container-size: 130px;
    --profile-normal-metrics-display: flex;
    --profile-compact-metrics-display: none;

    @media (width < 1250px) {

    }
     @media (width < 780px) {
        --profile-margin-top: 70px;
        --profile-container-size: 80px;
        --profile-info-height: 120px;
        --profile-compact-metrics-display: flex;
        --profile-normal-metrics-display: none;

     }
    
}