$fully-black: #000000;
$minor-black: #262626;

$fully-white: #ffffff;

$cyan1: #385898;
$cyan2: #0095f6;

$gray1: #737373;
$gray2: #8e8e8e;
$gray3: #c7c7c7;
$gray4: #efefef;
$gray5: #fafafa;

$gray1: #737373;
$gray1: #737373;
$gray1: #737373;
$gray1: #737373;

:root {

    --header-display:none;
    --logo-width: 130px;
    --header-alignment: space-between;
    --logo-padding: 1em;

    @media (width < 1250px) {
        @include compact-side-bar
    }

    @media (width < 780px) {
        --header-display:flex;
        @include bottom-bar
        
    }

    @media (width < 442px) {

        --logo-width: 0;
        --header-alignment: center;
        --logo-padding:0;

    }

}