$fully-black: #000000;
$minor-black: #262626;

$fully-white: #ffffff;

$cyan1: #385898;
$cyan2: #0095f6;

$gray1: #737373;
$gray2: #8e8e8e;
$gray3: #c7c7c7;
$gray4: #efefef;
$gray5: #fafafa;

$gray1: #737373;
$gray1: #737373;
$gray1: #737373;
$gray1: #737373;

:root {
    --side-header-width: 15.3em;
    --side-header-title-display: block;

    @media (width < 780px) {
        --side-header-width: 73px;
        --side-header-title-display: none;
    }

}