$fully-black: #000000;
$minor-black: #262626;

$fully-white: #ffffff;

$cyan1: #385898;
$cyan2: #0095f6;
$cyan3: #0866ff;

$gray1: #737373;
$gray2: #8e8e8e;
$gray3: #c7c7c7;
$gray4: #efefef;
$gray5: #fafafa;

$gray1: #737373;
$gray1: #737373;
$gray1: #737373;
$gray1: #737373;

:root {

    --header-display: none;
    --logo-width: 130px;
    --header-alignment: space-between;
    --logo-padding: 1em;
    --list-margin-top: 30px;
    --post-details-grid-row: 0;

    --post-list-positioning: minmax(20px, 650px) minmax(auto, 500px) 400px;

    --login-sign-up-layout: minmax(20px, 1fr) minmax(450px, 1000px) minmax(20px, 1fr);

    --profile-positioning: 250px minmax(auto, 1fr) minmax(0, 935px) minmax(auto, 1fr);
    --profile-margin-top: 10px;
    --profile-grid-placement: 3;
    --profile-info-layout-positioning: 1fr 2fr;
    --profile-info-height: 250px;
    --profile-container-size: 130px;
    --profile-normal-metrics-display: flex;
    --profile-compact-metrics-display: none;

    --post-edit-layout: 75px minmax(50px, 1fr) minmax(0, 800px) minmax(50px, 1fr);

    --placeholder-min-width: 500px;



    @media (width < 1250px) {
        @include compact-side-bar;

        --post-list-positioning: minmax(20px, auto) minmax(auto, 500px) minmax(20px, auto);

        --login-sign-up-layout: minmax(20px, auto) minmax(auto, 1fr) minmax(20px, auto);

        --profile-positioning: minmax(72px, 1fr) minmax(0, 935px) minmax(auto, 1fr);
        --profile-grid-placement: 2;
    }

    @media (width < 780px) {
        --header-display: flex;
        --list-margin-top: 80px;
        --profile-margin-top: 70px;
        --profile-grid-placement: 1/-1;
        // --profile-info-layout-positioning: 140px 1fr;
        --profile-container-size: 80px;
        --profile-info-height: 120px;
        --profile-compact-metrics-display: flex;
        --profile-normal-metrics-display: none;

        --post-edit-layout: 0 minmax(50px, 1fr) minmax(0, 800px) minmax(50px, 1fr);

        --login-sign-up-layout: minmax(0, auto) minmax(auto, 100%) minmax(0, auto);

        --placeholder-min-width: none;

        @include bottom-bar;

        @include mobile-post-edit;

        .post-details {
            flex-direction: column;
            width: 100vw;
            height: auto;
            max-height: 100vh;
            overflow-y: scroll;

            & .details-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 3.75em;
                border-bottom: solid $gray3 1px;
                background-color: $fully-white;
                position: fixed;

                & .back-btn {
                    @include back-btn
                }
            }


            & .post-img-container {
                background-color: white;
                margin-top: 3.75em;
                padding: 10px;
                width: 100%;
                height: 500px;
                object-fit: cover;
            }

            & .media {
                margin-top: auto;
                min-width: 0;

            }
        }



        .search-modal.active {
            display: none;
        }
    }

    @media (width < 442px) {

        --logo-width: 0;
        --header-alignment: center;
        --logo-padding: 0;

    }

}