@font-face {
    font-family: openSans-italic;
    src: url('src/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: openSans;
    src: url('src/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

