.post-edit {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    max-height: 840px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 20px;
    border: 1px solid $gray2;
    z-index: 100000;
    transition: max-width 0.3s ease, max-height 0.3s ease;
    /* Add transition for smooth width change */

    &.expanded {
        max-width: calc(800px + 400px);
        // max-height: 700px;

    }

    & .header {

        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $gray3;

        & .back-btn {
            @include back-btn
        }

        & .next-btn {
            color: $cyan2;
            font-size: 16px;
            cursor: pointer;
            position: fixed;
            right: 17px;

            &:hover {
                color: $cyan3;
            }

            &.disabled {
                cursor: default;
                color: $gray2;


            }
        }
    }

    & .croppie-cmp {
        width: 100%;
        height: 88%;



        & .options {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 50px;

        }

        & .cr-boundary {
            background-color: gray;
        }

        & .cr-vp-square {
            opacity: 1;
        }
    }

    //after cropping image

    & .add-details {
        display: flex;


        & .details {
            min-width: 450px;
            padding: 10px;
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            & .username {
                display: flex;
                align-items: center;
                padding: 10px;
            }
        }

        & textarea {
            width: 80%;
            // height: 50%;
            font-size: 15px;
            border: none;
            resize: none;


            &:focus {
                border: none;
                /* Ensure no border on focus */
                outline: none;
                /* Remove the default outline */
            }

        }

        & .image-container {
            width: calc(800px - 70px);
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;



            & img {
                padding: 10px;
                max-width: var(--add-details-image-width);

                border-radius: 20px;
                // max-height: 600px;
            }
        }
    }



}